body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: #000000;
}

.navbar {
    font-family: 'Karla', sans-serif;
    color: #4c5154;
    text-transform: uppercase;
    text-align: right;
    background-color: transparent;

}

header h1 {
    text-align: left;
    color: #ffffff;
    padding: 80px 40px;
    font-size: 60px;
    font-family: 'Spectral', serif;
}

header span {
    color: #000000;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.lead {
    width: 40%;
    text-align: left;
    color: #2e332f;
}

#header-background {
    background-image: url(../img/hero.jpg);
    opacity: 70%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.jumbotron p {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

#headshot {
    padding-bottom: 5em;
}

#headshot img {
    border-radius: 50%;
    display: flex;
    align-items: center;

}

#about-text p {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: inherit;
    text-align: justify;
    padding-top: 3em;
}



#carousel-projects {
    width: 50%;
    display: flex;
    align-items: center;
}



#work p {


}

#contact h4 {
    text-transform: uppercase;
    font-size: 24px;
}


#contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

#contact ul li {

}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 1200px) {}
